:root {
  /*
    Layout Breakpoints
  */
  --grid-container: "130rem";
  --grid-gutter: "3.2rem";

  /*
    Border
  */
  --border-radius: "0.4rem";

  /*
    Font
  */
  --font-family:  "Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 600;
  --font-sizes-xsmall: "1.2rem";
  --font-sizes-small: "1.4rem";
  --font-sizes-medium: "1.6rem";
  --font-sizes-large: "1.8rem";
  --font-sizes-xlarge: "2.0rem";
  --font-sizes-xxlarge: "2.8rem";
  --font-sizes-huge: "5.2rem";

  /*
    Colors
  */
  --colors-primary: "#F231A5",
  --colors-secondary: "#3CD3C1",
  --colors-mainBg: "#06092B",
  --colors-lightBg: "#F2F2F2",
  --colors-white: "#FAFAFA",
  --colors-black: "#030517",
  --colors-lightGray: "#EAEAEA",
  --colors-gray: "#8F8F8F",
  --colors-darkGray: "#2E2F42",
  --colors-red: "#FF6347",
  /*
    Spacings
  */
  --spacings-xxsmall: "0.8rem",
  --spacings-xsmall: "1.6rem",
  --spacings-small: "2.4rem",
  --spacings-medium: "3.2rem",
  --spacings-large: "4.0rem",
  --spacings-xlarge: "4.8rem",
  --spacings-xxlarge: "5.6rem",

  /*
    Layers
  */
  --layers-base: 10,
  --layers-menu: 20,
  --layers-overlay: 30,
  --layers-modal: 40,
  --layers-alwaysOnTop: 50,

  /*
    Transitions
  */
  --transition-default: "0.3s ease-in-out",
  --transition-fast: "0.1s ease-in-out",


}

